{% extends 'djangoapp/base.html' %}
{% block content %}

<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header"><b>Review {{dealer_name}} Car Dealership</b></div>
            <div class="card-body">
                <form name="my-form" action="{% url 'djangoapp:add_review' dealer_id%}" method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="review" class="form-label">Enter the review content</label>
                        <textarea class="form-control" id="review" name="review" rows="2" required></textarea>
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" name="purchase" id='purchase' required>
                        <label for="purchase" class="form-check-label">
                            Has purchased the car from <b>{{dealer_name}}</b> Car Dealership?
                        </label>
                    </div>
                    <div class="mb-3">
                        <label for="car" class="form-label">Select your car (model-make-year)</label>
                        <select name="car" id="car" class="form-select" required>
                            {% for car in cars %}
                                <option selected value={{car.id}}>{{car.model_name}}-{{car.car_make.name}}-{{ car.model_year|date:"Y" }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="purchase_date" class="form-label">Select Purchase Date</label>
                        <input type="text" class="form-control" name="purchase_date" placeholder='mm/dd/yyyy'>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    {% if error %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block scripts %}
<script>
    $('.date-own').datepicker({
        format: 'mm/dd/yyyy'
    });
</script>
{% endblock %}